h1 {
    text-align: center;
    font-size: 40px;
}

img {
    height: 300px;
    width: auto;
}

#rice {
    color: red;
}

#croissant {
    color: yellow;
}

#tortilla {
    color: rgb(134, 134, 6);
}